// Import af custom bootstrap
@import "./bootstrapcustom";
@import "./mixins";


//placeholder
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.backImage {
  @include backImage ('../img/beach.jpg');
}

@media (min-width: 768px) {
  .carousel-multi-item-2 .col-md-3 {
  float: left;
  width: 25%;
  max-width: 100%; } }
  
  .carousel-multi-item-2 .card img {
  border-radius: 2px; }